:root {
  --main-bg-dark: hsl(252, 100%, 67%);
  --main-bg-light: hsl(241, 81%, 54%);
  --circle-gradient-violet: hsla(256, 72%, 46%, 1);
  --circle-gradient-persion: hsla(241, 72%, 46%, 0);
  --main-font: "Hanken Grotesk", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
}
h1 {
  font-size: 56px;
  font-weight: 800;
  padding: 24px 0;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 8px;
}
h3 {
  font-size: 18px;
  font-weight: 700;
  padding: 24px 0 0;
}
h3.summary {
  margin-bottom: 24px;
}
p {
  font-size: 16px;
  font-weight: 500;
}
main {
  display: block;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  border-radius: 0 0 32px 32px;
  background-color: var(--main-bg-light);
  background: linear-gradient(
    0deg,
    var(--main-bg-light) 25%,
    var(--main-bg-dark) 100%
  );
  color: hsl(0, 0%, 100%);
  max-width: 100%;
}

p:nth-child(2) {
  margin: -26px 0 24px;
}
p:nth-child(4) {
  margin: 0 30px;
  padding: 0 0 40px;
}
p:nth-child(2),
p:nth-child(4),
h3.result {
  color: hsl(241, 100%, 89%);
}
section {
  margin: 0 32px;
}
span {
  color: hsl(224, 30%, 27%);
  opacity: 0.5;
}
img {
  margin-right: 12px;
}
.container {
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 32px;
}
.circle {
  display: block;
  margin: 24px auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--circle-gradient-persion);
  background: linear-gradient(
    0deg,
    var(--circle-gradient-persion) 0%,
    var(--circle-gradient-violet) 100%
  );
}
.btn {
  margin: 24px -10px;
  padding: 17px 0;
  border-radius: 128px;
  text-align: center;
  background-color: hsl(224, 30%, 27%);
  color: white;
  width: 100%;
}
.btn:hover {
  background-color: var(--main-bg-light);
  background: linear-gradient(
    0deg,
    var(--main-bg-light) 25%,
    var(--main-bg-dark) 100%
  );
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.summary-results {
  margin-bottom: 16px;
  padding: 15px 0 0;
  border-radius: 12px;
  max-width: 100%;
  align-content: center;
}
div.col-5 {
  text-align: right;
}
div.col-5 p {
  color: hsl(224, 30%, 27%);
  word-spacing: 8px;
}

#reaction {
  color: hsl(0, 100%, 67%);
  background-color: hsla(0, 100%, 67%, 0.05);
}

#memory {
  color: hsl(39, 100%, 56%);
  background-color: hsla(39, 100%, 56%, 0.05);
}
#verbal {
  color: hsl(166, 100%, 37%);
  background-color: hsla(166, 100%, 37%, 0.05);
}
#visual {
  color: hsl(234, 85%, 45%);
  background-color: hsla(234, 85%, 45%, 0.05);
}

@media (min-width: 768px) {
  body {
    margin: 10% 10%;
  }
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 32px;
    margin: 28px 0 19px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 18px;
  }
  main {
    border-radius: 32px;
  }
  h3.summary {
    margin-bottom: 28px;
    padding-top: 38px;
  }
  h3.result {
    padding: 38px 0 35px;
  }
  p.main-info {
    padding-bottom: 65px;
  }
  .container {
    box-shadow: 10px 5px 5px hsla(0, 0%, 0%, 0.271);
  }
}
@media (min-width: 1400px) {
  p.main-info {
    margin: 0 175px 0 175px;
  }
}
