:root {
  --reaction-color: hsl(0, 100%, 67%);
  --memory-color: hsl(39, 100%, 56%);
  --verbal-color: hsl(166, 100%, 37%);
  --visual-color: hsl(234, 85%, 45%);
  --main-bg-dark: hsl(252, 100%, 67%);
  --main-bg-light: hsl(241, 81%, 54%);
  --circle-gradient-violet: hsla(256, 72%, 46%, 1);
  --circle-gradient-persion: hsla(241, 72%, 46%, 0);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
  --main-font: "Hanken Grotesk", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  font-family: var(--main-font);
}
h1 {
  font-size: 56px;
  font-weight: 800;
  padding: 24px 0;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 8px;
}
h3 {
  font-size: 18px;
  font-weight: 700;
  padding: 24px 0 0;
}
p {
  font-size: 16px;
  font-weight: 500;
}
main {
  display: block;
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 0 0 32px 32px;
  background-color: var(--main-bg-light);
  background: linear-gradient(
    0deg,
    var(--main-bg-light) 25%,
    var(--main-bg-dark) 100%
  );
  color: hsl(0, 0%, 100%);
}
p:first-child {
  display: block;
  /* adjust the HTML columns */
}
p:nth-child(2) {
  margin: -26px 0 24px;
}
p:nth-child(4) {
  margin: 0 30px;
  padding: 0 0 40px;
}
p:nth-child(2),
p:nth-child(4),
h3 .results {
  color: hsl(241, 100%, 89%);
}
.circle {
  display: block;
  margin: 24px auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--circle-gradient-persion);
  background: linear-gradient(
    0deg,
    var(--circle-gradient-persion) 0%,
    var(--circle-gradient-violet) 100%
  );
}

@media (min-width: 1440px) {
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 18px;
  }
}
